*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CONTENT COLORS */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  /* BACKGROUND COLORS */
  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  /* BORDER COLORS */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  /* ACCENT COLORS */
  --accent-blue: #027df9;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  /* FONT STYLES */
  --ff-it: "Inter Tight", sans-serif;
  --ff-inter: "Inter", sans-serif;

  --ft: 700 1.5rem/2rem var(--ff-it);
  --fp-base: 400 1rem/100% var(--ff-inter);
  --fp-m: 500 0.875rem/1.5rem var(--ff-inter);
  --fp-sm: 500 0.75rem/1rem var(--ff-inter);
  --fl-l: 700 1rem/1.5rem var(--ff-inter);
  --fl-m: 700 0.875rem/1.5rem var(--ff-inter);
  --fl-s: 700 0.75rem/1rem var(--ff-inter);
  --f-link: 500 0.75rem/1rem var(--ff-inter);
}

html {
  font: var(--fp-base);
  color: white;
}

body {
  background: #14151d;
  min-width: 68.75rem;
  min-height: 100vh;

  header {
    width: 100%;
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9rem;
      height: 3rem;
      padding: 0.75rem 1.25rem;
      background: #2e2c30;
      border-bottom-right-radius: 0.75rem;
    }
  }
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
